.header {
    box-sizing: border-box;
    height: 100vh;
    background-image: url(../public/images/header-bg.png);
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
        padding-bottom: 20vh;
        color: #fff;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: -1.5px;
    }
}